.Titulo {
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: green;
    text-align: center;
    width: 1000px;
    height: 100px;
    border-radius: 5px;
    color: black;
}

.Input {
    background-color: whitesmoke;
    border-radius: 5px;
    color: black;
    margin-right: 10px; 
}

.button {   
    background-color: white;
    color: black;
    border-radius: 50px;
    
}
