.ticket-page {
  background-color:#fff;
  color: #000000;
  border-radius: 20px;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  width: 300px;
}

h2{
  color: #000000;
}
h3{
  color:  green;
}
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  padding: 1px;
  background-color: #ffffff;
  border-radius: 8px;
}

.panel-header .arrow {
  font-size: 13px;
  margin: 10px;

}

.user-item {
  margin-top: 10px;
  font-size: 14px;
  width: 280px;
}

.loading, .error {
  text-align: center;
  font-size: 16px;
}