.usuario {
  color: green;
  font-size: 24px;
  margin-bottom: 20px;
}

.user-item {
    background-color: #222;
    color: #fff;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 1px;
    width: 380px;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
}

.panel-header .arrow {
  font-size: 18px;
}

.user-details {
  margin-top: 10px;
  font-size: 14px;
}
